# Format Style Options - Created with Clang Power Tools
---
BasedOnStyle: WebKit
AccessModifierOffset: -2
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Linux
ColumnLimit: 120
DerivePointerAlignment: true
...
